@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dank";
}


<!--
Cade Loar
Mission 5 Assignment
This is html code from mission 4 index.html
-->


<h1>Cade Loar</h1>
<br />
<p>Here's a picture of my wife and I at Disneyland!</p>
<img class="my-pic" src="img/IMG_5290.jpg" />
<br />
<br />

<!-- paragraph about my hopes for the class -->
<h3>Hopes for the class</h3>
<p class="course">
    I am very excited for this class for several reasons.
    The main reason is that many job listings that I have seen recently
    have C# listed under the job requirements. I hope this class will better help me
    not only learn C#, but also learn industry standards of application development.
    Programming has always been fun for me because I love challenges and problem solving.
    That being said, I look forward to the remainder of this course!
</p>
<br />

<!-- list of jobs I am interested in -->
<h3>Jobs</h3>
<p>Here are some jobs I would love to pursue after graduation:</p>
<ul>
    <li>Software Developer</li>
    <li>Data Analyst</li>
    <li>Entreprenuer</li>
</ul>
<br />


    
